* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

#h1 {
    text-align: center;
}

#pics {
    width: 994px;
    margin: 10px auto;
    text-align: center;
}

#pics li {
    width: 237px;
    height: 270px;
    display: inline-block;
    margin: 1px;
    border-radius: 0px;
    overflow: hidden;
    opacity: 0.8;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgba(214, 80, 80, 0.8); */
   box-shadow: 3px 3px rgb(218, 218, 218);
}

#pics li:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.04);
}

#pics li img {
    width: 90%;
    height: 60%;
    transition: all 0.5s;
    padding-top: 10px;
}

#pics .digi {
    border: 3px solid rgb(172, 171, 171);
}

#pics .food {border: 3px solid rgb(218, 216, 216);}

#picBox {
    width: 500px;
    height: 350px;
    border: 1px dotted green;
    border-radius: 10px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}

#picBox img {
    width: 100%;
    height: 100%;
}

#picInfo {
    width: 150px;
    min-height: 30px;
    background-color: #fffc;
    position: absolute;
    right: 0;
    top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
